<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSElectricEnergy" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6033/WSElectricEnergy.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSElectricEnergy"
                contract="WSElectricEnergy.IWSElectricEnergy" name="BasicHttpBinding_IWSElectricEnergy" />
        </client>
    </system.serviceModel>
</configuration>